{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">Connectez vous !</h1>
		<form action="">
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" placeholder="Votre adresse mail..." required autofocus>
			<label for="inputPassword">Password</label>
			<input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe..." required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Remember me
				</label>
			</div>

			<button class="btn btn-lg btn-primary" type="submit">Connexion
				<br>
				<button class="btn btn-lg btn-primary" type="button" value="INSCRIPTION" onclick="window.location.href='/register'">Inscription</button>
			</button>
		</form>
	</form>
{% endblock %}
