{% extends "base.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block body %}

 <section class="contact section" id="contact">
                <div class="contact__wrapper ma">
    <h1> Inscrivez vous ici !</h1>
<br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Confirmer l'Inscription</button>
    {{ form_end(form) }}

</div>

{% endblock %}