{% extends 'base.html.twig' %}

{% block title %}Animals page
{% endblock %}

{% block body %}
	
		<main class="monMain">

			<section class="welcome section">
			
				<div class="container">

                        <div class="box"><a href="https://fr.wikipedia.org/wiki/Girafe"><button type="button" class="btn btn-outline-primary">Girafes d'Afrique</button><br></a><img src="./img/girafes.jpg" alt=""></div>

                        <div class="box"><a href="https://fr.wikipedia.org/wiki/Gorille"><button type="button" class="btn btn-outline-info">Gorille d'Afrique</button><br></a><img src="./img/gorilles.jpg" alt=""></div>

                        <div class="box"><a href="https://fr.wikipedia.org/wiki/%C3%89l%C3%A9phant_d%27Asie"><button type="button" class="btn btn-outline-success">Elephant d'Asie</button><br></a><img src="./img/elephant.jpg" alt=""></div>

                        <div class="box"><a href="https://fr.wikipedia.org/wiki/Lion"><button type="button" class="btn btn-outline-danger">Lion d'Afrique</button><br></a><img src="./img/lion.jpg" alt=""></div>

                        <div class="box"><a href="https://fr.wikipedia.org/wiki/Panthère_de_Ceylan"><button type="button" class="btn btn-outline-warning">Panthère du Sri Lanka</button><br></a><img src="./img/panthere sri lanka.jpg" alt=""></div>
                        
                        <div class="box"><a href="https://fr.wikipedia.org/wiki/Panda"><button type="button" class="btn btn-outline-light">Panda d'Asie</button><br></a><img src="./img/panda.jpg" alt=""></div>
                        
                    </div>
			
			</section>

		</main>

	{% endblock %}
