{% extends 'base.html.twig' %}

{% block title %}Contact Us page
{% endblock %}

{% block body %}

	<main class="monMain">

		 <section class="contact section" id="contact">
                <div class="contact__wrapper ma">
                    <h2 class="contact__title section__title">Nous contacter</h2>
                    <p class="contact__intro-text section__intro-text">
                        Vous pouvez nous joindre ci-dessous en nous contactant par mail et vous pouvez aussi nous retrouver sur les réseaux sociaux !
                    </p>
                   {{form_start(formulaire)}}

                        {{form_row(formulaire.nom, {'attr': {class: 'form-control', placeholder: 'Votre nom'}} )}}
                        {{form_row(formulaire.prenom, {'attr': {class: 'form-control', placeholder: 'Votre prenom'}} )}}
                        {{form_row(formulaire.telephone, {'attr': {class: 'form-control', placeholder: 'Votre téléphone'}} )}}
                        {{form_row(formulaire.email, {'attr': {class: 'form-control', placeholder: 'Votre email'}} )}}
                        {{form_row(formulaire.message, {'attr': {class: 'form-control', placeholder: 'Votre message'}} )}}

                        <button type="submit" class="btn btn-light">Send Us </button>
                        <button class="btn btn-light" type="button" value="ADMINISTRATEUR" onclick="window.location.href='./admin'">ADMINISTRATEUR</button>
                        
                    {{form_end(formulaire)}}

                </div>
                <!-- .contact__wrapper -->

            </section>
            <!-- <section class="contact section" id="contact"> -->

 <footer class="page-footer">
                <div class="site-width ma">

                    <div class="grid">
                        <div class="footer-module footer-module--call-me grid-xs--12 grid-md--6 grid-lg--4">
                            <div class="footer-module__icon">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <div class="footer-module__content">
                                <h2 class="footer-module__title">Appelez-nous !</h2>
                                <p class="footer-module__text">
                                    +33 7 61 36 33 49
                                    <br> +33 6 56 39 42 94
                                </p>
                            </div>
                        </div>
                        <!-- .footer-module ... -->
                        <div class="footer-module footer-module--address grid-xs--12 grid-md--6 grid-lg--4">
                            <div class="footer-module__icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="footer-module__content">
                                <h2 class="footer-module__title">Adresse</h2>
                                <p class="footer-module__text">
                                    149 rue de la libération
                                    <br/> 28000 Chartres
                                </p>
                            </div>
                        </div>
                        <!-- .footer-module ... -->

                        <div class="footer-module footer-module--email grid-xs--12 grid-md--6 grid-lg--4">
                            <div class="footer-module__icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="footer-module__content">
                                <h2 class="footer-module__title">Envoyez nous un courriel !</h2>
                                <p class="footer-module__text">
                                    <a href="https://mail.google.com/mail/u/1/?ogbl#inbox?compose=new">Pepouze</a>
                                </p>

                            </div>

                        </div>
                        <!-- .footer-module ... -->
                    </div>
                    <!-- .grid -->

                </div>
                <!-- .site-width -->
                <br>
                <br>
                <br>
                <br>
                <div class="réseaux">
                    <a href="https://www.facebook.com/lucas.edinger.10"><i id="facebook" class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://twitter.com/LucEdinger"><i id="twitter" class="fab fa-twitter fa-2x"></i></a>
                    <a href="https://www.youtube.com/channel/UC0kANhrR-Zvb1r6JBjfFU6w"><i id="youtube" class="fab fa-youtube fa-2x"></i></a>
                    <a href="https://www.instagram.com/lucas_edg/"><i id="instagram" class="fab fa-instagram fa-2x"></i></a>
                </div>

            </footer>
            <!-- .page-footer -->
    </div>

	</main>
{% endblock %}
