{% extends 'base.html.twig' %}

{% block title %}Services page
{% endblock %}

{% block body %}

	<main class="monMain">

		<section class="section-services">
			<h2 class="Services">SERVICES</h2>

			<div class="services__list-grid">

				<li class="services__item ">

					<div class="services__item-icon">
						<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
					</div>

					<div id="btn">
						<span class="noselect">Qui sommes-nous ?</span>
					</div>

					<div id="circle"></div>

					<p class="services__item-description" href="#services">
						Le Zoo le Refuge a été fondé il y 5 ans par 2 personnes. Nous sommes une SAS (Société par Actions Simplifiée). Ce Zoo acueille aujourd'hui plus de 100 espèces d'animaux différentes. On récupère des animaux bléssés qui ne peuvent plus vivre à l'état sauvage.
						                            Les animaux viennent des quatre coins du monde (Océanie, Asie, Afrique, Amériques, Europe).
					</p>
				</li>


				<li class="services__item ">

					<div class="services__item-icon">
						<i class="fas fa-book-open" aria-hidden="true"></i>
					</div>

					<div id="btn">
						<span class="noselect">Le Zoo et ses animaux</span>
					</div>

					<div id="circle"></div>

					<p class="services__item-description" href="#services">
						Comme Central Park au Etats-Unis, notre Zoo est situé au coeur de notre merveilleuse ville qui est Chartres. Laissez-vous vous émerveiller par cette densité de nature au milieu d'une formidable métropole. Dans notre Zoo vous pouvez y retrouver beaucoup
						                            de variétés d'animaux différentes, ceux qui vivent dans la savane, dans la jungle, en montagne dans les mers etc...
					</p>
				</li>


				<li class="services__item ">

					<div class="services__item-icon">
						<i class="fas fa-calendar" aria-hidden="true"></i>
					</div>

					<div id="btn">
						<span class="noselect">Les horaires du Zoo</span>
					</div>

					<div id="circle"></div>

					<p class="services__item-description" href="#services">
						Le Zoo est ouvert toute l'année sauf pendant les fêtes et les jours fériés. Le lundi, mardi et mercredi de 9h à 19h, le jeudi vendredi de 10h à 19h et le samedi de 9h à 18h. Ces horaires ont changés dû aux raisons sanitaires.
					</p>
				</li>

				<li class="services__item ">

					<div class="services__item-icon">
						<i class="fa fa-rocket" aria-hidden="true"></i>
					</div>

					<div id="btn">
						<span class="noselect">Préparer votre visite !</span>
					</div>

					<div id="circle"></div>

					<p class="services__item-description" href="#services">
						Comment préparer sa visite ? Vous pouvez dès maintenant réserver vos billets d'entrée ainsi que votre chambre d'hôtel ! Vous trouverez ici même un plan du Zoo et de l'hôtel pour vous repérer très facilement. L'hôtel possède aussi un très grand nombre
						                            d'activités annexe pour les personnes qui sont hébergés à l'hôtel, comme du Paddle, du l'Accrobanche, du Canoë-Kayak, du Tennis, du Jet Ski, de la Voile, du Golf, sans oublié notre SPA somptieux, et bien d'autre chose !!
					</p>
				</li>


				<li class="services__item ">

					<div class="services__item-icon">
						<i class="fas fa-heartbeat" aria-hidden="true"></i>
					</div>

					<div id="btn">
						<span class="noselect">Protection des animaux</span>
					</div>

					<div id="circle"></div>

					<p class="services__item-description" href="#services">
						Découvrez nos moyens de protection d'animaux en parrainant ces derniers, en découvrant nos centres de recherches, ainsi que nos nombreuses cliniques vétérinaire ! Nous sensibilisons aussi les personnes pour une meilleure protection des animaux et de la
						                            nature via des réunions d'informations et de sensibilisations.
					</p>
				</li>

				<li class="services__item ">

					<div class="services__item-icon">
						<i class="fas fa-shopping-bag" aria-hidden="true"></i>
					</div>

					<div id="btn">
						<span class="noselect">E-boutique</span>
					</div>

					<div id="circle"></div>

					<p class="services__item-description" href="#services">
						Vous pouvez retrouver sur notre site tous les objets dérivés concernant notre Zoo (porte clés, peluches, goodies, photos souvenirs et bien d'autres ! ) avec tous vos animaux préférés ! De plus vous pouvez faites-vous plaisir !!
					</p>
				</li>
			</div>

		</section>

	</main>
{% endblock %}
