        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Serif&display=swap');
        h1.welcome__title {
            font-family: 'Noto serif', sans-serif, Arial;
            font-size: 30px;
            text-align: center;
            color: #fff;
            position: relative;
            padding-top: 30px;
        }
        
        h2.Portfolio {
            font-family: 'Noto serif', sans-serif, Arial;
            font-size: 30px;
            text-align: center;
            color: #fff;
            position: relative;
            padding-top: 30px;
        }
        
        h2.Services {
            font-family: 'Noto serif', sans-serif, Arial;
            font-size: 30px;
            text-align: center;
            color: #fff;
            position: relative;
            padding-top: 30px;
        }
        
        h2.Contact {
            font-family: 'Noto serif', sans-serif, Arial;
            font-size: 30px;
            text-align: center;
            color: #fff;
            position: relative;
            padding-top: 30px;
        }
        
        * {
            margin: 0;
            padding: 0;
        }
        
        .monBody {
            display: grid;
            width: 100%;
            grid-template-areas: "header header" "main main" "footer footer";
            grid-template-rows: 105px 1fr 50px;
            grid-template-columns: 1fr;
            background-image: url("../img/polygones-ok.jpg");
            background-attachment: fixed;
        }
        
        .monBody>header {
            grid-area: header;
            border: 2px solid blue;
        }
        
        .monBody>main {
            grid-area: main;
            border: 2px solid green;
        }
        
        .monBody>footer {
            grid-area: footer;
            border: 2px solid yellow;
        }
        /*----------------------------------------------------------- HEADER --------------------------------------------------------------------------*/
        
        .navigation {
            padding: 0;
            margin: 0;
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        /* Variables */
        
         :root {
            --font-size: 1rem;
        }
        
        .light-mode {
            --navbar-color: #222;
            --navbar-bg-color: #F0F0F0;
        }
        
        .dark-mode {
            --navbar-color: #610c0c;
        }
        /* Reset */
        
        * {
            box-sizing: border-box;
            outline: none;
            margin: 0;
            padding: 0;
        }
        
        ul {
            list-style: none;
        }
        /* Basic style */
        
        body {
            margin: 0;
            font-size: var(--font-size);
            font-family: 'Poppins', sans-serif;
        }
        
        .main-content {
            padding: 1rem;
        }
        /* Navbar */
        
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px;
            font-size: 1.3rem;
            background: var(--navbar-bg-color);
            color: var(--navbar-color);
            justify-content: center;
        }
        
        .navbar__links {
            display: flex;
        }
        
        .navbar__link {
            padding: 0 10px;
        }
        
        .navbar__link>a {
            color: var(--navbar-color);
            text-decoration: none;
        }
        
        .burger {
            display: none;
        }
        /*  Small device */
        
        @media screen and (max-width:990px) {
            .navbar__links {
                display: flex;
                flex-direction: column;
                width: 0;
                height: calc(100vh - 65px);
                position: absolute;
                top: 65px;
                right: 0;
                background: var(--navbar-bg-color);
                transform: translateX(110%);
                transition: all .5s ease-in-out;
            }
            .show-nav .navbar__links {
                width: 100vw;
                transform: translateX(0);
                padding-top: 110px;
                z-index: 1;
            }
            .navbar__link {
                transform: translateX(101%);
                transition: all .5s ease-in-out;
            }
            .show-nav .navbar__link {
                transform: translateX(0);
            }
            .navbar__link>a {
                display: block;
                padding: 1rem;
                font-size: 1.6rem;
                color: var(--navbar-color);
                transition: all .4s ease-in-out;
            }
            .navbar__link>a:hover {
                padding-left: 2rem;
                letter-spacing: 5px;
            }
            /* Toggle menu */
            .burger {
                display: block;
                position: relative;
                padding: 0;
                width: 45px;
                height: 45px;
                border: none;
                background: transparent;
                cursor: pointer;
            }
            .bar {
                display: block;
                width: 45px;
                height: 4px;
                border-radius: 3px;
                background: var(--navbar-color);
                transition: all .5s ease-in-out;
            }
            .bar::before,
            .bar::after {
                content: "";
                width: 45px;
                height: 4px;
                position: absolute;
                left: 0;
                background: var(--navbar-color);
                border-radius: 3px;
                transition: all .5s ease-in-out;
            }
            .bar::before {
                transform: translateY(-12px)
            }
            .bar::after {
                transform: translateY(12px)
            }
            .show-nav .bar {
                width: 0;
                background: transparent;
            }
            .show-nav .bar::before {
                transform: rotate(45deg);
            }
            .show-nav .bar::after {
                transform: rotate(-45deg);
            }
            /* Bonus - Animations */
            .show-nav .first {
                transition: all 1s ease-out;
            }
            .show-nav .second {
                transition: all 1.1s ease-out;
            }
            .show-nav .third {
                transition: all 1.2s ease-out;
            }
            .show-nav .four {
                transition: all 1.3s ease-out;
            }
            .show-nav .fifth {
                transition: all 1.4s ease-out;
            }
        }
        /*  Medium device - Bonus */
        
        @media screen and (min-width:768px) {
            .navbar__link>a::after {
                display: block;
                content: "";
                width: 0;
                height: 1px;
                background: var(--navbar-color);
                transition: width .4s;
            }
            .navbar__link:hover>a::after {
                width: 100%;
            }
        }
        
        .menu {
            display: flex;
            justify-content: center;
            padding: 25px;
        }
        /*----------------------------------------------------------- Carrousel slider home --------------------------------------------------------------------------*/
        
        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            background-color: #222;
        }
        
        #carouselExemple {
            width: 50%;
            margin: 0 auto;
            margin-top: 120px;
        }
        
        .carousel-item img {
            width: 100%;
            height: auto;
        }
        /*----------------------------------------------------------- MAIN --------------------------------------------------------------------------*/
        
        body {
            margin: 0;
            height: 100vh;
        }
        
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 90px;
            padding-bottom: 70px;
            text-align: -webkit-center;
        }
        
        .box {
            height: 370px;
            width: 500px;
            position: relative;
            display: grid;
        }
        
        img {
            object-fit: cover;
            width: 420px;
            height: 305px;
            border-radius: 20px;
        }
        /*-------------------------------------------------------------MEDIA ANIMAUX---------------------------------------------------------------------------*/
        
        @media screen and (max-width:1400px) {
            .container {
                grid-template-columns: 1fr 1fr;
            }
        }
        
        @media screen and (max-width:1100px) {
            .container {
                grid-template-columns: 1fr;
                padding-left: 60px;
            }
        }
        /*--------------------------------------------------------------------- SERVICES -----------------------------------------------------------------*/
        
        .services__list-grid {
            margin-bottom: 2em;
            font-size: 20px;
            text-align: center;
            display: inline-grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: auto;
        }
        
        @media all and (max-width:1310px) {
            .services__list-grid {
                grid-template-columns: 1fr 1fr;
            }
        }
        
        @media all and (max-width:900px) {
            .services__list-grid {
                grid-template-columns: 1fr;
            }
        }
        
        .services__item {
            padding: 100px;
            margin: 12px;
            list-style: none;
        }
        /*----------------------------------------------------------------- SERVICES ICONS --------------------------------------------------------------*/
        
        .services__item-icon {
            font-size: 2.8125em;
            display: inline-block;
            width: 6.8rem;
            height: 6.8rem;
            background: #375a7f;
            border-radius: 100%;
            margin-bottom: 4.3rem;
            margin-left: 0.3rem;
            position: relative;
            color: #FFF;
        }
        
        .services__item-icon .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        
        .services__item-icon .fas {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        /* ---------------------------------------------------- SERVICES TITLE ------------------------------------------------------------------*/
        
        #btn {
            background: #375a7f;
            border: none;
            border-radius: 10px;
            color: #FFF;
            font-size: 30px;
            font-family: 'Cookie', cursive;
            transition: 1.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding-top: 5px;
            display: block;
            margin: auto;
            text-align: center;
        }
        /* @media (min-width: 100em) {
    #btn {
        height: 100px;
        font-size: 70px;
    }
} */
        
        #btn:hover {
            background: #adb5bd;
            ;
        }
        /* ---------------------------------------------------- SERVICES DESCRIPTIONS ------------------------------------------------------------------*/
        
        .services__item-description {
            background-color: transparent;
            font-size: 15px;
            width: 100%;
            text-align: center;
            padding-top: 30px;
        }
        
        @media all and (max-width:1310px) {
            .services__item-description {
                font-size: 12px;
            }
        }
        /*----------------------------------------------------------- CONTACT --------------------------------------------------------------------------*/
        
        .contact {
            margin-bottom: 0;
            display: flex;
            justify-content: center;
        }
        
        .contact .section__title,
        .contact .section__intro-text {
            color: #FFF;
            text-align: center;
        }
        
        @media (min-width: 48em) {
            .contact__wrapper {
                padding: 8.5em 0
            }
        }
        /*---------------------------------------------------------- FOOTER ---------------------------------------------------------------------------*/
        
        .page-footer {
            background-image: url("../img/polygones-ok.jpg");
            background-attachment: fixed;
            padding: 6.25em 1.5em
        }
        
        .footer-module {
            margin-bottom: 2em;
            font-size: .875em
        }
        
        .footer-module:last-child {
            margin-bottom: 0
        }
        
        .footer-module__icon,
        .footer-module__content {
            display: inline-block;
            vertical-align: middle
        }
        
        .footer-module__icon {
            background: #375a7f;
            width: 5.4375rem;
            height: 5.4375rem;
            border-radius: 100%;
            position: relative;
            font-size: 2.8125em;
            color: #FFF;
        }
        
        .footer-module__icon .fa {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%)
        }
        
        .footer-module__title {
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1em;
            font-size: 1em
        }
        
        .footer-module__content {
            color: #15263e;
            margin-left: 2em
        }
        
        .footer-module__content a {
            color: inherit;
            text-decoration: none
        }
        
        .footer-module__content a:hover {
            text-decoration: underline
        }
        /* ---------------------------------------------------------------- RESEAUX SOCIAUX -------------------------------------------------------------*/
        
        .réseaux {
            text-align: center;
        }
        
        #facebook {
            color: #375a7f;
            font-size: 2.1em;
        }
        
        #twitter {
            color: #375a7f;
            border-radius: 15%;
            font-size: 2em;
        }
        
        #youtube {
            color: #375a7f;
            font-size: 2.2em;
        }
        
        #instagram {
            color: #375a7f;
            font-size: 2.1em;
            border-radius: 15%;
        }
        /*-------------------------------------------------------------MEDIA CONTACT---------------------------------------------------------------------------*/
        
        @media screen and (max-width:1400px) {
            .contact {
                margin: 20px;
                padding: 10px;
                height: 100vh;
            }
        }
        /*-------------------------------------------- REGISTER------------------------------------------------------------*/
        
        button,
        input,
        optgroup,
        select,
        textarea {
            margin: 0px;
            font-family: inherit;
            font-size: inherit;
            line-height: 28px;
            display: block;
        }
        /*--------------------------------------------- CONNEXION------------------------------------------------------------------*/
        
        .form-control:focus {
            color: #ffffff;
            background-color: #375a7f;
            border-color: #375a7f;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgb(55 90 127 / 25%);
        }
        
        .form-control {
            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            background-color: #222;
            background-clip: padding-box;
            border: 1px solid #222;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }