<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet">
			<link href=" css/style.css" rel="stylesheet">
			<script src="https://kit.fontawesome.com/00342ff99f.js" crossorigin="anonymous"></script>
			<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			
		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="{{ path('home') }}">Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('animaux') }}">Animaux</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('services') }}">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('contact') }}">Contact</a>
						</li>
						
						
					</ul>
					
				</div>
				
			</div>
		</nav>

		{% block body %}{% endblock %}
		
	</body>
	
</html>
